<a href="https://colab.research.google.com/github/notorious0789/Basics-OF-Python/blob/main/Practical_3_Study_of_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment - 3
## Title : To Study List in Python and various operations on it
### Apoorba Chatterjee
### 25070123020

In [ ]:
## Python Lists
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist)

['apple', 'banana', 'cherry', 'pineapple', 'strawberry']

In [ ]:
# List Items
# List Items are ordered,changeable and allows dublicate values.
# List Items are indexed, the first item has index [0], the second item has index [1].
# Allow Dublicates
fruitlist = ["apple","banana","cherry","pineapple","strawberry","apple","banana","cherry","pineapple","strawberry"]
print(fruitlist)

['apple', 'banana', 'cherry', 'pineapple', 'strawberry', 'apple', 'banana', 'cherry', 'pineapple', 'strawberry']

In [ ]:
# List Length
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(len(fruitlist))

5

In [ ]:
# A list with strings, integers and bollean values
RandomList = ["abc", 34, True, 40, "Male", 40.5, 3+2j]
RandomList

['abc', 34, True, 40, 'Male', 40.5, (3+2j)]

In [ ]:
# Access Items
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist[3])

pineapple

In [ ]:
# Reverse/Negative Indexing
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist[-1])

strawberry

In [ ]:
# Slicing
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist[1:4])

['banana', 'cherry', 'pineapple']

In [ ]:
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist[:4])

['apple', 'banana', 'cherry', 'pineapple']

In [ ]:
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
print(fruitlist[-3:])

['cherry', 'pineapple', 'strawberry']

In [ ]:
# Change Item Value
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
fruitlist[2] = "blackcurrant"
print(fruitlist)

['apple', 'banana', 'blackcurrant', 'pineapple', 'strawberry']

In [ ]:
# Append Items
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
fruitlist.append("orange")
print(fruitlist)

['apple', 'banana', 'cherry', 'pineapple', 'strawberry', 'orange']

In [ ]:
# Insert Items
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
fruitlist.insert(1,"blueberry")
print(fruitlist)

['apple', 'blueberry', 'banana', 'cherry', 'pineapple', 'strawberry']

In [ ]:
# Extend Items
fruitlist = ["apple","banana","cherry","pineapple","strawberry"]
tropicallist = ["mango", "papaya", "passion fruit"]
fruitlist.extend(tropicallist)
print(fruitlist)

['apple', 'banana', 'cherry', 'pineapple', 'strawberry', 'mango', 'papaya', 'passion fruit']

In [ ]:
# Length of List
n = len([3,4,5,6,7,8])
n

6

In [ ]:
# Searching Items
8 in [3,4,5]

False

In [ ]:
# Repetition
list = (' *Symbi* ') * 6
list

' *Symbi*  *Symbi*  *Symbi*  *Symbi*  *Symbi*  *Symbi* '

In [ ]:
# PROBLEM STATEMENT 2 (as Slicing one is first)
marks = [78, 85, 90, 66, 88]
# Find Maximum Marks:
print(max(marks))
# Find Minimum Marks:
print(min(marks))
# Find Total Marks:
print(sum(marks))
# Find Number of Students:
print(len(marks))
# Find Average Marks:
print(sum(marks)/len(marks))
# Sort Marks in ascending order
marks.sort()
print(marks)
# Sort Marks in descending order
marks.sort(reverse=True)
print(marks)

90
66
407
5
81.4
[66, 78, 85, 88, 90]
[90, 88, 85, 78, 66]

In [ ]:
# PROBLEM STATEMENT 3
''' 3. Grocery Shopping List
A user maintains a grocery list fpr monthly shopping Task:
Create a grocery list
Add new items to the list
Remove purchased items
Display the final shpping List'''

Grocerylist = ["Eggs", "Milk", " Berries", "Juices"]
# Add new items to the list
Grocerylist.append("Bread")
Grocerylist.append("Butter")
print(Grocerylist)
# Remove purchased items
Grocerylist.remove("Eggs")
Grocerylist.remove("Milk")
print(Grocerylist)
# Display the final shopping list
print("Final Shopping List:")
print(Grocerylist)

['Eggs', 'Milk', ' Berries', 'Juices', 'Bread', 'Butter']
[' Berries', 'Juices', 'Bread', 'Butter']
[]

In [ ]:
# PROBLEM STATEMENT 4
''' 4. A person stores contacts in a list.
Taks:
Create a list of contacts
Add a new contact
Delete an existing contact
Display contatcs alphabetically'''

Contactlist = ["Jake", "Jason", "Aaron", "Joshua", "Aniket", "Guy"]

# Add a new contact
Contactlist.append("John")
print(Contactlist)

# Delete an existing contact
Contactlist.remove("Jake")
print(Contactlist)

# Display contacts alphabetically
Contactlist.sort()
print(Contactlist)

['Jake', 'Jason', 'Aaron', 'Joshua', 'Aniket', 'Guy', 'John']
['Jason', 'Aaron', 'Joshua', 'Aniket', 'Guy', 'John']
['Aaron', 'Aniket', 'Guy', 'Jason', 'John', 'Joshua']

In [ ]:
# PROBLEM STATEMENT 5
''' 5. Temperature Analysis
Daily temperature readings of a city are stored in a list for 10 days.
Tasks:
Display temperature of first and last 5 days
Find highest and lowest temperature
Calculate average temperature'''

TempList = [22, 36, 12, 14, 32, 25, 21, 16, 26, 23]

# Display temperature of first and last 5 days
print("First 5 days temperature:", TempList[:5])
print("Last 5 days temperature:", TempList[-5:])

# Find highest and lowest temperature recorded
print("Highest temperature:", max(TempList))
print("Lowest temperature:", min(TempList))

# Calculate average temperature
print("Average temperature:", sum(TempList)/len(TempList))

First 5 days temperature: [22, 36, 12, 14, 32]
Last 5 days temperature: [25, 21, 16, 26, 23]
Highest temperature: 36
Lowest temperature: 12
Average temperature: 22.7

In [1]:
list1 = [10,20,30,40,50,60]
print(list1[1:3:-1])

[]

In [3]:
list1 = [10,20,30,40,50,60]
print(list1[-1:-3:-1])

[60, 50]

In [4]:
# PROBLEM STATEMENT 6
''' 6. Daily Expense Tracker
A person tracks daily expenses.
Tasks:
Store Daily expenses
Display total and average expenses
Identify highest spending day'''

# Store Daily Expenses
DailyExpense = [1000, 1500, 2000, 1500, 4000, 1000, 1000]

# Display Total and average expenses
print("Total expenses:", sum(DailyExpense))
print("Average expenses:", sum(DailyExpense)/len(DailyExpense))

# Identify highest spending day
print("Highest spending day:", DailyExpense.index(max(DailyExpense)))

# Identify lowest spending day
print("Lowest spending day:", DailyExpense.index(min(DailyExpense)))

Total expenses: 12000
Average expenses: 1714.2857142857142
Highest spending day: 4
Lowest spending day: 0