<a href="https://colab.research.google.com/github/notorious0789/Basics-OF-Python/blob/main/Practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA using python
## Experiment - 1
### Python Basics

In [ ]:
# First Program
print("I am Learning Python")

I am Learning Python

In [ ]:
print('I am at Symbiosis')

I am at Symbiosis

In [1]:
#First Python Program/ String
print("Hello, Welcome to Python")

Hello, Welcome to Python

In [2]:
a = "Hello"
print(a)

Hello

In [3]:
# Comments
#This is a Comment
print("Hello World")

Hello World

In [4]:
# Many Statements
print("Hello World")
print("Have a good day")
print("Learning Python is fun !")

Hello World
Have a good day
Learning Python is fun !

In [5]:
print("Hello"); print("How are you"); print("Bye bye!")

Hello
How are you
Bye bye!

In [6]:
print("Python is fun !") print("Really!")

SyntaxError: invalid syntax (ipython-input-55618608.py, line 1)

In [7]:
print("This will work")
print('This will also work')

This will work
This will also work

In [26]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

In [25]:
# Print Numbers
a=3
print(a)
print(358)
print(50000)

3
358
50000

In [12]:
# Variables
x= 5
y= "Hello World!"

print(x)
print(y)

5
Hello World!

In [14]:
# Case - Sensitive
a= 4
A= "Sally"

print(a)
print(A)

4
Sally

In [15]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
# Basic Mathematical Operators

a=10
b=5
print("Addition=", a+b)
print("Subtraction=", a-b)
print("Multiplication=", a*b)
print("Division=", a/b)

Addition= 15
Subtraction= 5
Multiplication= 50
Division= 2.0

In [43]:
# Understanding Data Types
x = 10
y = 3.14
z = "Python"
flag = True
cmplx = 3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(cmplx))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [30]:
# Taking Input from the User
name = input("Enter your name: ")
print("Hello", name)

Enter your name: Apoorba
Hello Apoorba

In [32]:
# Taking Input from the User - Simple Calculator
a = int(input("Enter your First Number: "))
b = int(input("Enter your Second Number: "))

print("Addition", a+b)
print("Subtraction=", a-b)
print("Multiplication=", a*b)
print("Division=", a/b)

Enter your First Number: 4
Enter your Second Number: 2
Addition 6
Subtraction= 2
Multiplication= 8
Division= 2.0

In [34]:
# Taking Input from the User - MARKS OF FIVE SUBJECTS

S1 = int(input("Enter your First Number: "))
S2 = int(input("Enter your Second Number: "))
S3 = int(input("Enter your Second Number: "))
S4 = int(input("Enter your Second Number: "))
S5 = int(input("Enter your Second Number: "))

TotalMarks = S1+S2+S3+S3+S4+S5

print("Total Marks = ", TotalMarks)
print("Average Marks = ", TotalMarks/5)

Enter your First Number: 98
Enter your Second Number: 99
Enter your Second Number: 96
Enter your Second Number: 95
Enter your Second Number: 97
Total Marks =  581
Average Marks =  116.2

In [35]:
# Taking Input from the User - AREA OF RECTANGLE

Length = int(input("Enter your Length : "))
Breadth = int(input("Enter your Breadth: "))

Area = Length * Breadth

print("Area of the Rectangle = ", Area)

Enter your Length : 5
Enter your Breadth: 6
Area of the Rectangle =  30

In [36]:
# Taking Input from the User - AREA OF CIRLCE

Radius = int(input("Enter your Length : "))

Area = Radius * Radius * 3.14

print("Area of the Circle = ", Area)

Enter your Length : 5
Area of the Circle =  78.5

In [38]:
a = 3**3
b= 3*3
print(a)
print(b)

27
9

In [42]:
# Tuple Appending

A = (3, 4, 5) + (5, 6, 8)
print(A)

(3, 4, 5, 5, 6, 8)